*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' ,sans-serif;
}
::-webkit-scrollbar{
    display: none;
}

body{
    background-color:ivory;
    color: black;
}

/* Navbar */
header{
    background-color: ivory;
     box-shadow: 0 2px 10px rgba(0,0,0,0.08);
     position: sticky;
     top: 0;
     width: auto;
}

.navbar{
    width: 100vw;
    margin: auto;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 20px;
    font-weight: 600;
}

.nav-link {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-link a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    cursor: pointer;
}

.nav-link a:hover{
    color: rgb(176, 83, 248);
}

/* Home */
.home{
    width: 100vw;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 100px;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-content h1{
    width: auto;
    font-size: 70px;
    margin-bottom: 15px;
}

.home-content span{
     color: rgb(176, 83, 248);
}

.home-content p{
    font-size: 25px;
    width: 600px;
    /* margin-right: 30px; */
   margin-bottom: 30px;
}

.mr{
    margin-right: 15px;
}
.btn button{
    width: 200px;
    padding: 15px 5px;
    background-color: rgba(209, 170, 239, 0.212);
    border-radius: 8px;
    border-color: rgba(137, 43, 226, 0.817);
    font-size: 17px;
    cursor: pointer;
    
}

.btn button:hover{
    background-color: rgb(212, 177, 240);
}

.home-image img{
    width: 400px;
    height: 500px;
    object-fit: cover;
}

/* About */
.about{
    width: 1200px;
    margin: auto;
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    gap: 25px;
}

.about h2{
    font-size: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about p{
    font-size: 22px;
}

/* Work */
.work{
    width: 80vw;
    margin: auto;
    margin-bottom: 100px;
}

.work h2{
   font-size: 33px; 
   margin-bottom: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.work-card{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.card h3{
    font-size: 22px;
}

.card p{
    font-size: 19px;
}

/* Project */
.project{
    width: 100vw;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 100px;
}

.project h2{
    font-size: 33px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row-poster{
    display: flex;
    justify-content: center;
    gap: 30px;
   
}
.row-poster img{
  height: 300px;
  width: 300px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s;
  box-shadow: 2px -1px 43px 18px rgba(0,0,0,0.49);
}

.row-poster img:hover{
  transform: scale(1.1);
}


/* Contact */
.contact{
    width: 750px;
    margin: auto;
    margin-bottom: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact h2{
    font-size: 33px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact p{
    font-size: 22px;
    margin-bottom: 15px;
}

.contact a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(176, 83, 248);
}

/* Footer */
footer{
    background-color: rgb(18, 18, 33);
    color: rgb(164, 149, 149);
    text-align: center;
    padding: 20px;
}

/* Responsive */
@media (max-width: 768px) {
 .navbar{
   flex-direction: column;
  }

  .home {
    width: auto;
    flex-direction: column;
    text-align: center;
  }

  .home-image {
    margin-top: 30px;
  }
 
  .about{
    width: auto;
  }

  .project{
   text-align: center;}

   .row-poster{
    flex-direction: column;
   }

   .contact{
    width: auto;
   }
   .work-card{
    grid-template-columns: 1fr;
   } 


}
