* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: ivory;
  color: black;
}

/* NAVBAR */
.navbar {
  width: 100vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 18px 50px;
  background: ivory;
  border-bottom: 1px solid black;
}

.navbar a {
  margin-left: 25px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.navbar a:hover{
  color: rgb(176, 83, 248);
}

/* HERO */
.hero {
  width: 100vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 50px;
}
.hero-text{
  width: 60%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.hero h1{
  font-size: 60px;
}

.hero-text span {
  color: rgb(176, 83, 248);
}

.hero p{
  font-size: 25px;
}

.hero-buttons {
  margin-top: 25px;
}

.btn {
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  margin-right: 15px;
  transition: 0.3s;
}

.primary {
  background: rgb(176, 83, 248);
  color: white;
}

.secondary {
  border: 2px solid rgb(176, 83, 248);
  color: rgb(176, 83, 248);
}

.btn:hover {
  cursor: pointer;
  background: rgb(176, 83, 248);
  color: white;
}

.hero-img{
  width: 40%;
  display: flex;
}

.hero-img img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  margin: auto;
  justify-content: center;
  align-items: center;
}

/* ABOUT */
.about, .work, .projects, .contact {
  padding: 60px 50px;
  text-align: center;
  width: 100vw;
}

.about h2,.work h2,.projects h2,.contact h2{
  font-size: 40px;
  margin-bottom: 40px;
}
.about p,.work p,.projects p,.contact p{
  font-size:25px;
}
.about{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  margin-left: 200px;
}


/* WORK */
.work-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 30px;
}

.work-card {
  background: white;
  padding: 30px;
  border-radius: 14px;
}

/* PROJECTS */
.project{
    width: 100vw;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 100px;
}

.project h2{
    font-size: 33px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-grid{
    display: flex;
    justify-content: center;
    gap: 30px;
   
}
.project-grid img{
  height: 300px;
  width: 300px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s;
  box-shadow: 2px -1px 43px 18px rgba(0,0,0,0.49);
}

.project-grid img:hover{
  transform: scale(1.1);
}

/* CONTACT */
.contact-form {
  max-width: 500px;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 14px;
  border-radius: 8px;
  border: none;
}

.contact-form button {
  background: rgb(176, 83, 248);
  color: #fff;
  padding: 14px;
  border: none;
  border-radius: 8px;
}

.social a {
  margin: 0 10px;
  font-size: 22px;
  color: rgb(210, 167, 244);
}

/* FOOTER */
footer {
   width: 100vw;
    background-color: rgb(18, 18, 33);
    color: rgb(164, 149, 149);
    text-align: center;
    padding: 20px;
}

/* MOBILE */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .work-grid,
  .project-grid {
    grid-template-columns: 1fr;
  }
}
